*{
	margin: 0px;
	padding: 0px;

}
body{
	font-size: 120%;
	background: #fff4d4;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: #ffeb99;
	background: #ff5852;
	text-align: center;
	border: 1px solid #ff5852;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

form {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #ff5852;
	background: #ffeb99;
	border-radius: 0px 0px 10px 10px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px #ff5852;
}





.btn {
	padding: 10px;
	font-size: 15px;
	color: #ffeb99;
	background: #ff5852;
	border: none;
	border-radius: 5px;
}

table {
	width: 50%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #ffeb99;
	background: #fff3c2;
	border-radius: 0px 0px 10px 10px;
	line-height:30px;


}

h1{
	text-align: center;
	color: #ff5852;
}
th{
	color: #ff5852;
}
td{
	width: 
	color:#ff5852;
	text-align: right; 
	vertical-align: top;
	white-space: pre-wrap; break-word;
	position: relative;

}
